:root {
  --font-face: sans-serif;
}

html {
  font-family: var(--font-face, sans-serif);
}

header h1 {
  text-align: center;
}

#generated-password {
  background-color: transparent;
  border: 1px solid #bbb;
  text-align: center;
  padding: 10px;
  width: 500px;
  font-size: 1.125rem;
  font-weight: 100;
  margin: 0 auto;
  display: block;
  border-radius: 30px;
}

#password-gen-form {
  text-align: center;
}

#password-length {
  font-size: 1.125em;
  padding: 10px;
  border-radius: 30px;
}

footer p {
  position: fixed;
  bottom: 0;
  margin: 0;
  font-size: 12px;
  text-align: center;
  display: block;
  background-color: #ccc;
  width: 100%;
  left: 0;
  font-weight: bold;
  padding: 3px;
}

footer p a,
footer p a:hover,
footer p a:active,
footer p a:visited {
  text-decoration: none;
  color: #00c;
}
